<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        body {
            background: white;
            margin-top: 3rem;
            margin-left: 3rem;
            font-size: large;
        }
        p {
            margin-left: 2rem;
        }
    </style>
    <title>About Us</title>
</head>
<body>
    <h1> Welcome to DoneFu Computer</h1>
    <p>
        At our store, we're more than just a PC store; we're your destination for stepping into modern and high-tech.
        Our passion for footwear goes beyond trends – we believe in providing you with a curated selection of high-quality
        and affordable PC that not only complement your need but also make each step a statement.
    </p>
    <h1>Expertise and Excellence</h1>
    <p>
        With years of experience in the industry, our team of tech enthusiasts and experts is dedicated to curating a diverse selection of products that meet the highest standards of performance and reliability. We handpick each item in our inventory to ensure that our customers have access to the best and most trusted brands in the market.
    </p>
    <p>
        Customer satisfaction is at the heart of everything we do. Our knowledgeable and friendly staff are here to assist you at every step, from product selection to after-sales support. We believe in building lasting relationships with our customers, and our commitment to service excellence sets us apart.
    </p>
    <h1>Our Promise</h1>
    <p>
        We are not just a store; we are part of a vibrant community of tech enthusiasts. Join us for events, workshops, and product launches, where you can connect with like-minded individuals, learn about the latest trends, and get hands-on experience with cutting-edge technology.
    </p>
    <p>
        Happy shopping!
    </p>
    <a th:href="@{/mainscreen}" class="btn btn-primary btn-sm mb-3">About Our Store</a>

</body>
</html>